.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login__form-card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 35px auto;
}

.login__form-card__group div {
    margin-bottom: 6px;
    width: 100%;
}